@font-face {
    font-family: 's-core_dream4_regular';
    src: url('font/scdream4_2.woff2') format('woff2'),
    url('font/scdream4_2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 's-core_dream6_bold';
    src: url('font/scdream6_2.woff2') format('woff2'),
    url('font/scdream6_2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:focus, a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

#loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #79bce3;
    font-size: 100px;
}

/*팝업*/
.popup-modal .modal-content {
    border-radius: 0;
}
.popup-modal .modal-content .modal-body {
    padding: 0;
}
.popup-modal .modal-content .modal-body img {
    max-width: 100%;
}
.popup-modal .modal-content .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
}
.popup-modal .modal-content .modal-footer div {
    cursor:	pointer;
}
.popup-modal .modal-content .modal-footer a {
    color: #000;
}

.main-popup .swiper-container {
    width: 450px;
    overflow: hidden;
}
.main-popup .swiper-pagination {
    bottom: 30px !important;
}
.main-popup .swiper-pagination span {
    border-radius: 50%;
}
.main-popup .swiper-pagination-bullet-active {
    background-color: #4E5968;
}
.main-popup {
    position:fixed;
    z-index: 999;
}
.main-popup .popup-bottom {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
    background-color: #000;
}
.main-popup .popup-bottom label {padding-left: 5px;}
.main-popup .popup-bottom .popup-close {
    color: #fff;
    font-size: 14px;
}
.popup-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 102;
}

@media (max-width: 991px) {
    .main-popup .swiper-container { width: 350px; }
}


/* sub-contents */
p {
    margin-bottom: 0;
}
.portlet-content {}
.sub-contents .sub-tab-menu {
    width: 100%;
    margin-bottom:30px;
}
@media (min-width: 991px) {
    .sub-contents .sub-tab-menu {
        width: 98%;
        padding-left: 1%;
        border-bottom: 1px solid #DBDBDB;
    }
}
.sub-contents .sub-tab-menu ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
.sub-contents .sub-tab-menu ul li {
    width: 32%;
    height: 33px;
    margin-right: 1%;
    margin-bottom: 3px;
}
@media (min-width: 991px) {
    .sub-contents .sub-tab-menu ul li {
        width: 12%;
        margin-right: 0.5%;
        margin-bottom: 0;
    }
}
.sub-contents .sub-tab-menu ul li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 14px;
    background-color: #DBDBDB;
}
.sub-contents .sub-tab-menu ul li a.active {
    color: #fff;
    background-color: #0571AF;
}
.portlet-content h2 {
    position: relative;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #0571AF;
    font-size: 18px;
    line-height: 140%;
    font-family: 's-core_dream6_bold';
}
@media (min-width: 991px) {
    .portlet-content h2 {
        font-size: 20px;
        line-height: 150%;
    }
}
.portlet-content h2::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #0571AF;
}
@media (min-width: 991px) {
    .portlet-content h2::before {
        top: 13px;
    }
}
.portlet-content h3 {
    position: relative;
    /*padding-left: 10px;*/
    margin-bottom: 15px;
    color: #666;
    font-size: 16px;
    line-height: 140%;
    font-family: 's-core_dream6_bold';
}
@media (min-width: 991px) {
    .portlet-content h3 {
        font-size: 18px;
    }
}
/*
.portlet-content h3::before {
	content: '';
	position: absolute;
	top: 7px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #666;
}
@media (min-width: 991px) {
	.portlet-content h3::before {
		top: 9px;
	}
}
*/
.portlet-content ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
.portlet-content ul>li {
    position: relative;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}
.contents-container ul.bul,
.portlet-content ul.bul {
    margin-left: 10px;
    padding-left: 0;
}
.contents-container ul.bul>li,
.portlet-content ul.bul>li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    line-height: 170%;
}
.contents-container ul.bul>li::before,
.portlet-content ul.bul>li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #333;
}
.contents-container ul.bul>li>ul,
.portlet-content ul.bul>li>ul  {
    margin: 5px 0 0 0;
}
.contents-container ul.bul>li>ul>li,
.portlet-content ul.bul>li>ul>li  {
    color: #333;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 14px;
}
.contents-container ul.bul>li>ul>li::before,
.portlet-content ul.bul>li>ul>li::before {
    content: '-';
    padding-right: 5px;
    position: relative;
    top: auto;
    background-color: transparent;
}

.portlet-content .contents-btn a {
    display: inline-block;
    padding: 5px 25px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
}
.portlet-content .text-box {
    margin-bottom: 20px;
    padding: 15px;
    color: #0571AF;
    font-size: 14px;
    background-color: #F5FBFF;
}
.portlet-content .contents-table {
    width: 100%;
    margin: 10px 0 20px;
    border-top: 2px solid #0571AF;
    border-right: 1px solid #DBDBDB;
    overflow-x: auto;
}
.portlet-content .contents-table table {
    width: 100%;
}
.portlet-content .contents-table table caption {
    display: none;
}
.portlet-content .contents-table table thead tr th {
    padding: 0.5rem;
    color: #0869A1;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    background-color: #fff;
}
.portlet-content .contents-table table tbody tr th {
    padding: 0.5rem;
    color: #0869A1;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    background-color: #fff;
}
.portlet-content .contents-table table tbody tr td {
    height: 38px;
    padding: .75rem;
    color: #333;
    font-size: 14px;
    line-height: 160%;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    background-color: #fff;
}

.portlet-content .contents-table table ul {
    margin-bottom: 0;
}
.portlet-content .border-img img {
    max-width: 100%;
    height: auto;
}



.nodata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 14px;
}
.nodata::before {
    content: '';
    display: block;
    width: 65px;
    height: 61px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/pub/site/portal/images/common/no_contents.svg);

}


/* table-list */
table.table.table-list {
    width: 100%;
    margin-bottom: 30px;
    border-top: 2px solid #0571AF;
}
table.table.table-board .board-count {
    position: relative;
    color: #666;
    font-size: 16px;
    text-align: left;
    caption-side: top;
    padding: 0 0 5px 10px;
}
table.table.table-board .board-count::before {
    content:'';
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #666;
}
table.table.table-list colgroup {
    display: none;
}
@media (min-width: 991px) {
    table.table.table-list colgroup {
        display: table-column-group;
    }
}
table.table.table-list thead {
    display: none;
}
@media (min-width: 991px) {
    table.table.table-list thead {
        display: table-header-group;
    }
}
table.table.table-list thead tr th {
    padding: 0.5rem;
    color: #0869A1;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border-bottom: 1px solid #0571AF;
    background-color: #fff;
}
table.table.table-list tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media (min-width: 991px) {
    table.table.table-list tbody {
        display: contents;
    }
}
table.table.table-list tbody tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #DBDBDB;
}
@media (min-width: 991px) {
    table.table.table-list tbody tr {
        display: table-row-group;
        padding: 0;
        border: none;
    }
}
table.table.table-list tbody tr td {
    width: 100%;
    padding: 4px 10px 4px 130px;
    color: #333;
    font-size: 14px;
    border: none;
    background-color: #fff;
    word-break: break-all;
}
@media (min-width: 991px) {
    table.table.table-list tbody tr td {
        width: auto;
        padding: .5rem;
        color: #333;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #DBDBDB;
        background-color: #fff;
    }
}
table.table.table-list tbody td .m-title {
    float: left;
    display: inline-block;
    width: 120px;
    margin-left: -130px;
    color: #0869a1;
    font-size: 14px;
}
@media (min-width: 991px) {
    table.table.table-list tbody td .m-title {
        display: none;
    }
}
table.table.table-list tbody td .one-line {
    width: 100%;
    display: table;
    table-layout: fixed;
    white-space: nowrap;
}
table.table.table-list tbody td .one-line span {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.table.table-list tbody td.m-table-btn {
    width: 100%;
    padding: 5px;
    text-align: center;
}
@media (min-width: 991px) {
    table.table.table-list tbody td.m-table-btn {
        width: auto;
        padding: 0.5rem;
    }
}
@media (max-width: 991px) {
    table.table.table-list tbody td.td-100 {
        width: 100%;
        padding-left: 0;
    }
    table.table.table-list tbody td.td-100 .m-title {
        width: 100%;
        margin: 0;
        padding-bottom: 3px;
    }
}



/* default modal */
.default-modal .modal-content {
    padding: 15px;
}
@media (min-width: 991px) {
    .default-modal .modal-content {
        padding: 30px 50px;
    }
}
.default-modal .modal-header {
    flex-wrap: wrap;
    position: relative;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #0571AF;
}
.default-modal .modal-header .modal-title {
    color: #0571AF;
    font-size: 20px;
    font-family: s-core_dream6_bold;
}
.default-modal .modal-header ul {
    width: 100%;
    margin: 10px 0 0 0;
}
.default-modal .modal-header ul li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #0571AF;
    font-size: 14px;
}
.default-modal .modal-header ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #0571AF;
}
.default-modal .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    color: #fff;
    font-size: 18px;
    background-color: #333;
    opacity: 1 !important;
}
@media (min-width: 991px) {
    .default-modal .modal-header .close {
        top: -14px;
        right: -34px;
    }
}
.default-modal .modal-body {
    padding: 0;
}
.default-modal .modal-body ul.list-borderT {
    width: 100%;
    margin: -2px 0 0 0;
    padding: 5px 0 10px;
    border-bottom: 2px solid #0571AF;
    background: #fff;
}
.default-modal .modal-body ul.list-borderT li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #0571AF;
    font-size: 14px;
}
.default-modal .modal-body ul.list-borderT li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #0571AF;
}
.default-modal .modal-footer {
    justify-content: center;
    padding: 15px;
    border: none;
}
.default-modal .modal-body .board-search {
    margin-top: -2px;
    padding-top: 10px !important;
    background-color: #fff !important;
}

.modal .container {
    padding: 0;
}



/* error-card */
.error-card {
    width: 330px;
    min-height: 330px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 0;
    border: 1px solid #DBDBDB;
}
.error-card .card-header {
    padding: 170px 0 0 0;
    color: #0571AF;
    font-size: 16px;
    text-align: center;
    font-family: "s-core_dream6_bold";
    border-bottom: none;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(/pub/site/portal/images/common/error_img.svg);
}
.error-card .card-body {
    padding: 5px 0;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.error-card .card-footer {
    padding: 20px 0 0 0;
    text-align: center;
    border-top: none;
    background-color: transparent;
}



    /* paging */
.paging-container .pagination .page-item .page-link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 0.75rem;
    color: #666;
    font-size: 14px;
    border: none;
}
.paging-container .pagination .page-item.active .page-link,
.paging-container .pagination .page-item .page-link:hover {
    color: #09648E;
    text-decoration: underline;
    background-color: transparent;
}
.paging-container .pagination .page-item.page-arrow {
    padding: 0 0.2rem;
}
.paging-container .pagination .page-item.page-arrow a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #DBDBDB;
}
.paging-container .pagination .page-item.page-arrow i {
    color: #999;
    font-weight: 400;
}



/* label */
.label {
    display: inline-flex;
    padding: 3px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
.label-primary {
    background-color: #0571AF;
}
.label-info {
    background-color: #53AD37;
}
.label-warning {
    background-color: #B14E06;
}
.label-secondary {
    background-color: #999999;
}
.label-dark {
    background-color: #333;
}

/* alert */
.alert-success {
    border: none;
    background-color: #E6FAE6;
}

/* text */
.text-blue {
    color: #0869A1  !important;
}
.text-primary {
    color: #0869A1  !important;
}
.text-warning {
    color: #F26600 !important;
}



/* btn */
.btn {
    font-size: 14px;
    font-family: "s-core_dream4_regular";
}
.btn-white {
    background-color: #fff;
    border: 1px solid #DBDBDB;
}
.btn-primary {
    background-color: #0869A1;
    border-color: #0869A1;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus {
    background-color: #0869A1;
    border-color: #0869A1;
}
.btn-secondary {
    background-color: #666;
    border-color: #666;
}
.btn-secondary:hover {
    background-color: #666;
    border-color: #666;
}
.btn-dark {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-dark:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-warning {
    color: #fff;
    background-color: #F26600;
    border-color: #F26600;
}
.btn-warning:hover {
    color: #fff;
    background-color: #F26600;
    border-color: #F26600;
}


/* alert */
.alert.alert-primary {
    color: #0571AF;
    border: 1px solid #F5FBFF;
    background-color: #F5FBFF;
}

pre {
    font-family: 's-core_dream4_regular', sans-serif;
}



/* quick style */
.quick-wrap {
    display: none;
}
@media (min-width: 991px) {
    .quick-wrap {
        display: flex;
        position: fixed;
        top: calc( 40% - 80px );
        right: -270px;
        transition: .5s;
        z-index: 9;
    }
    .quick-wrap.show {
        right: 0;
    }
    .quick-wrap .quick-groups {
        display: flex;
        flex-direction: column;
    }
    .quick-wrap .quick-groups a:hover {
        text-decoration: none;
    }
    .quick-wrap .quick-groups .quick-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 125px;
        color: #fff;
        font-size: 12px;
        writing-mode: vertical-rl;
        font-family: "s-core_dream6_bold";
        background-color: #38A0DC;
    }
    .quick-wrap .quick-groups .quick-btn .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        color: #0869a1;
        margin-bottom: 10px;
        border-radius: 50%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/common/q_left_btn.svg);
    }
    .quick-wrap.show .quick-groups .quick-btn.active .icon {
        background-image: url(../images/common/q_right_btn.svg);
    }
    .quick-wrap .quick-groups .top-btn {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        color: #fff;
        font-size: 10px;
        background-color: #0869A1;
    }
    .quick-wrap .quick-list {
        display: flex;
        flex-wrap: wrap;
        width: 270px;
        padding: 8px 0;
        background-color: #F2F2F2;
    }
    .quick-wrap .quick-list a {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 33.333%;
        margin: 7px 0;
        padding: 0 5px;
        color: #666;
        font-size: 12px;
    }
    .quick-wrap .quick-list a .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        margin-bottom: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fff;
    }
    .quick-wrap .quick-list a .txt {
        width: 100%;
        text-align: center;
        line-height: 120%;
    }
    .quick-wrap .quick-list a:hover {
        text-decoration: none;
    }
    .quick-wrap .quick-list a:hover .icon {
        border: 2px solid #38A0DC;
    }
}

