/*************** Layout ***************/
body {
	-webkit-touch-callout: none;
}

.card > .card-header > .card-title {
	margin-bottom: 0 !important;
}
.portal-popup-wrapper {width:800px;text-align:center;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index:100;font-size:0px;}
.portal-popup {width:300px;height:300px;display:inline-block;margin:10px;font-size:12px;background:red;vertical-align: top}

.skip-nvi:active, .skip-nvi:focus { position:relative; display:block; height:auto; width:100%; z-index:100; text-align:center;  }

h1,h2,h3,h4,h5,h6 {margin: 0; font-weight: bold;}
p, dl, ol, ul {margin: 0;}
a {color:#555; outline: none;}
i span {  position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0,0,0,0); border: 0; }



@media (min-width: 1399px) {
	.container, .container-lg, .container-md, .container-sm {
		max-width: 1400px;
	}
}

body {
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: 's-core_dream4_regular', sans-serif;
	color: #666;
	word-break: keep-all;
}
.header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #0571AF;
}
@media (min-width: 991px) {
	.header {
		height: 120px;
		background-color: transparent;
	}
	.header::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: #0571AF;
		z-index: -1;
	}
}
.header .container {
	padding: 0;
}
@media (min-width: 991px) {
	.header .container {
		position: relative;
	}
}
.header h1 {
	position: absolute;
	top: 19%;
	left: 20px;
	display: flex;
	height: 38px;
}
@media (min-width: 991px) {
	.header h1 {
		top: 11px;
		left: 0;
	}
}
.header h1 a {
	display: flex;
}
.header .btn-group {
	position: absolute;
	top: calc( 50% - 15px );
	right: 15px;
	align-items: center;
}
@media (min-width: 991px) {
	.header .btn-group {
		top: 92px;
		right: 0;
		z-index: 11;
	}
}
.header .btn-group a {
	margin-left: 20px;
	color: #fff;
}
.header .btn-group a.bell-btn {
	position: relative;
	font-size: 20px;
}
.header .btn-group a.bell-btn .bell-label {
	position: absolute;
	top: 0;
	right: -12px;
	display: inline-flex;
	justify-content: center;
	width: 20px;
	height: 15px;
	color: #fff;
	font-size: 11px;
	border-radius: 6.5px;
	background-color: #FF6600;
}
.header .btn-group a.menu-btn {
	font-size: 18px;
}
@media (min-width: 991px) {
	.header .btn-group a.menu-btn {
		color: #333;
	}
}

.header .search-box {
	display: none;
	position: relative;
	width: 100%;
	height: 60px;
	padding: 12px 40px 12px 15px;
	border-bottom: 1px solid #0571AF;
	background-color: #fff;
	z-index: 10;
}
@media (min-width: 991px) {
	.header .search-box {
		display: block;
		position: absolute;
		top: 8px;
		left: 230px;
		width: 23%;
		height: 45px;
		padding: 2px;
		border: 1px solid #014099;
		background-color: #fff;
	}
}
@media (min-width: 1399px) {
	.header .search-box {
		left: 285px;
		width: 30%;
	}
}

.header .search-box form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
}
.header .search-box form label {
	margin: 0 10px 0 0;
	color: #0571AF;
	font-size: 14px;
}
.header .search-box input[type="text"] {
	width: calc( 100% - 100px );
	height: 100%;
	padding-left: 10px;
	color: #666;
	font-size: 14px;
	border: 1px solid #DBDBDB;
	border-right: none;
	background-color: #F2F2F2;
}
@media (min-width: 991px) {
	.header .search-box input[type="text"] {
		width: calc( 100% - 45px );
		padding-left: 20px;
		border: none;
		background-color: #fff;
	}
}
.header .search-box button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 39px;
	height: 100%;
	color: #0571AF;
	font-size: 19px;
	border: 1px solid #DBDBDB;
	border-left: none;
	background-color: #F2F2F2;
}
@media (min-width: 991px) {
	.header .search-box button {
		width: 45px;
		color: #fff;
		border: none;
		background-color: #0869A1;
	}
}
.header .search-box .close-btn {
	position: absolute;
	top: 16px;
	right: 15px;
	color: #0571AF;
	font-size: 17px;
}

.header .m-menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0571AF;
	z-index: 101;
}
@media (min-width: 991px) {
	.header .m-menu {
		display: initial;
		position: initial;
	}
}

.header .m-menu .top-util {
	position: relative;
	display: flex;
	align-items: baseline;
	width: 100%;
	height: 90px;
	padding: 15px;
	background-color: #0571AF;
}
@media (min-width: 991px) {
	.header .m-menu .top-util {
		align-items: center;
		position: absolute;
		top: 15px;
		right: 0;
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
	}
}
.header .m-menu .top-util a {
	margin: 0 6px;
	padding: 0;
	color: #fff;
	font-size: 18px;
}
@media (min-width: 991px) {
	.header .m-menu .top-util a {
		margin: 0 0 0 18px;
	}
}
.header .m-menu .top-util .link-group {
	display: flex;
	position: absolute;
	left: 15px;
	bottom: 10px;
	width: calc( 100% - 30px );
}
@media (min-width: 991px) {
	.header .m-menu .top-util .link-group {
		position: relative;
		left: auto;
		bottom: auto;
	}
}
.header .m-menu .top-util .link-group li {
	width: 100%;
	margin-left: 5px;
}
@media (min-width: 991px) {
	.header .m-menu .top-util .link-group li {
		margin-left: 0;
		margin-right: 32px;
	}
}
.header .m-menu .top-util .link-group li a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 3px 10px;
	font-size: 14px;
	border-radius: 5px;
	background-color: #055E92;
}
@media (min-width: 991px) {
	.header .m-menu .top-util .link-group li a {
		position: relative;
		padding: 0;
		background-color: transparent;
	}
}
.header .m-menu .top-util .login-box {
	display: flex;
	margin: 0 15px;
	border: 1px solid rgba(130, 184, 215, 0.5);
}
@media (min-width: 991px) {
	.header .m-menu .top-util .login-box {
		margin: 0 0 0 5px;
	}
}
.header .m-menu .top-util .login-box a {
	padding: 3px 8px;
	margin: 0;
	color: #fff;
	font-size: 12px;
	border-left: 1px solid rgba(130, 184, 215, 0.5);
}
@media (min-width: 991px) {
	.header .m-menu .top-util .login-box a {
		padding: 4px 12px;
		font-size: 14px;
	}
}
.header .m-menu .top-util .login-box a:first-child {
	border-left: none;
}
.header .m-menu .top-util .language {
	position: relative;
}
.header .m-menu .top-util .language .language-list {
	display: none;
	position: absolute;
	top: 38px;
	right: 0;
	width: 90px;
	padding: 5px 10px;
	border: 1px solid #DBDBDB;
	background-color: #fff;
	z-index: 11;
}
@media (min-width: 991px) {
	.header .m-menu .top-util .language .language-list {
		right: -7px;
	}
}
.header .m-menu .top-util .language .language-list::before {
	content: "";
	position: absolute;
	top: -10px;
	right: 10px;
	border-top: 6px solid #fff;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.header .m-menu .top-util .language .language-list a {
	display: block;
	width: 100%;
	margin: 0;
	padding: 3px 0;
	color: #666;
	font-size: 14px;
	border-top: 1px solid #EFEFEF;
}
.header .m-menu .top-util .language .language-list a:first-child {
	border: none;
}



.header .m-menu .gnb {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc( 100% - 90px );
	background: linear-gradient(90deg, #f2f2f2 50%, #fff 50%);
}
@media (min-width: 991px) {
	.header .m-menu .gnb {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: auto;
		padding-bottom: 60px;
		flex-direction: row;
		justify-content: space-between;
		background: #fff;
		border-bottom: 1px solid #DBDBDB;
		z-index: 10;
	}
	.header .m-menu .gnb::after {
		content: '';
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: 1px;
		border-bottom: 1px solid #DBDBDB;
		z-index: -1;
	}
}
.header .m-menu .gnb .container {
	position: relative;
	height: 100%;
 }
@media (min-width: 991px) {
	.header .m-menu .gnb .container {
		display: flex;
	}
	.header .m-menu .gnb .gnb-menu {
		position: relative;
		width: calc( 100% / 6 );
	}
}
.header .m-menu .gnb .gnb-menu h3 {
	display: inline-flex;
	width: 130px;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu h3 {
		position: absolute;
		top: 0;
		width: auto;
		height: 62px;
	}
}
.header .m-menu .gnb .gnb-menu h3 a {
	display: inline-flex;
	width: 100%;
	height: 100%;
	padding: 20px 18px;
	color: #333;
	font-size: 16px;
	border-bottom: 1px solid #DBDBDB;
	word-break: break-word;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu h3 a {
		height: calc( 100% - 2px );
		display: inline-flex;
		align-items: center;
		padding: 0 22px 0;
		border-bottom: none;
	}
}


.header .m-menu .gnb .gnb-menu h3 a:hover {
	text-decoration: none;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu:hover h3 a {
		color: #0571AF;
		border-bottom: 2px solid #0571AF;
	}
}
.header .m-menu .gnb .gnb-menu h3 a.active {
	color: #fff;
	border-bottom: 1px solid #38A0DC;
	background-color: #38A0DC;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu h3 a.active {
		color: #0571AF;
		border-bottom: 2px solid #0571AF;
		background-color: transparent;
	}
}
.header .m-menu .gnb .gnb-menu>ul {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: calc( 100% - 130px );
	height: 100%;
	padding: 5px 15px;
	background-color: #fff;
	overflow-y: scroll;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu>ul {
		position: relative;
		top: 60px;
		right: auto;
		width: 100%;
		height: 100%;
		padding: 15px 0;
		overflow: initial;
		background-color: transparent;
	}
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu>ul>li {
		position: relative;
		padding-left: 10px;
	}
	.header .m-menu .gnb .gnb-menu>ul>li::before {
		content:'';
		position: absolute;
		top: 9px;
		left: 0;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #666;
	}
}
.header .m-menu .gnb .gnb-menu>ul>li>a {
	display: inline-block;
	width: 100%;
	padding: 15px 25px 15px 0;
	color: #333;
	font-size: 14px;
	border-bottom:	1px solid #DBDBDB;
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu>ul>li>a {
		width: auto;
		padding: 0 0 10px 0;
		border-bottom:	none;
	}
}
.header .m-menu .gnb .gnb-menu>ul>li>a:hover,
.header .m-menu .gnb .gnb-menu>ul>li>a.active {
	color: #0571AF;
	text-decoration: none;
}

@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu>ul>li>a:hover,
	.header .m-menu .gnb .gnb-menu>ul>li>a.active {
		color: #0571AF;
		text-decoration: underline;
	}
}
.header .m-menu .gnb .gnb-menu>ul>li>a.menu-3deps {
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../images/common/plus_icon.svg);
}
.header .m-menu .gnb .gnb-menu>ul>li>a.menu-3deps.active {
	color: #0571AF;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../images/common/minus_icon.svg);
}
@media (min-width: 991px) {
	.header .m-menu .gnb .gnb-menu>ul>li>a.menu-3deps,
	.header .m-menu .gnb .gnb-menu>ul>li>a.menu-3deps.active {
		background-image: none;
	}
}
.header .m-menu .gnb .gnb-menu>ul>li>ul {
	display: none;
	padding: 5px 0;
	border-bottom:	1px solid #DBDBDB;
}
.header .m-menu .gnb .gnb-menu>ul>li>ul>li {
	position: relative;
	padding: 5px 10px;
}
.header .m-menu .gnb .gnb-menu>ul>li>ul>li::before {
	content:'';
	position: absolute;
	top: 13px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #666;
}
.header .m-menu .gnb .gnb-menu>ul>li>ul>li>a {
	color: #666;
	font-size: 14px;
}
.header .m-menu .gnb .gnb-menu>ul>li>ul>li>a:hover,
.header .m-menu .gnb .gnb-menu>ul>li>ul>li>a.active {
	color: #0571AF;
	text-decoration: none;
}
.header .m-menu .menu-closebtn {
	position: absolute;
	top: 14px;
	right: 15px;
	color: #fff;
	font-size: 18px;
}


@media (min-width: 992px) and (max-width: 1199px) {
	.header .search-box {
		left: 220px;
		width: 23%;
	}
	.header .m-menu .top-util a {
		margin: 0 0 0 10px;
	}
	.header .m-menu .top-util .link-group li {
		margin-right: 10px;
	}
}





.footer {
	position:relative;
	padding: 15px;
	background:#333;
}
@media (min-width: 991px) {
	.footer {
		padding: 20px 0;
	}
}
@media (min-width: 991px) {
	.footer .foot-logo {
		float:left;
		margin-right:80px;
	}
	.footer .foot-logo img {
		width:168px;
	}
	.footer .footer-contents {
		float:left;
		width:calc(100% - 248px);
	}
}
.footer .footer-contents .footer-util {
	margin-bottom:10px;
}
.footer .footer-contents .footer-util:after {
	content:'';
	clear:both;
	display:table;
}
.footer .footer-contents .footer-util li {
	position:relative;
	float:left;
	padding:0 15px;
}
@media (min-width: 991px) {
	.footer .footer-contents .footer-util li {
		padding:0 20px;
	}
}
.footer .footer-contents .footer-util li:before {
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:-2.5px;
	margin-top:-2.5px;
	width:5px;
	height:5px;
	border-radius:100%;
	background:#fff;
}
.footer .footer-contents .footer-util li:first-child {
	padding-left:0px;
}
.footer .footer-contents .footer-util li:first-child:before {
	display:none;
}
.footer .footer-contents .footer-util li a {
	color:#fff;
	font-size:14px;
}
.footer address {
	margin: 0;
	color:#fff;
	font-size:14px;
	line-height:160%;
	font-family: "s-core_dream2_extralight";
}


/* 헤더 상단 배너 */
.top-banner{
	position: relative;
	top: 0;
}
.top-banner img{
	margin : 0 auto;
}
.top-banner .close-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
@media (min-width: 991px) {
	.top-banner .close-btn {
		top: 15px;
		right: 15%;
		bottom: auto;
	}
}
.top-banner .close-btn a{
	background-color: rgb(0,0,0,0.7) ;
	padding:8px 10px;
	color: #ffffff;
}
.top-banner .close-btn a i small {
	display: none;}
@media (min-width: 991px) {
	.top-banner .close-btn a i small {
		display: inline-block;
	}
}




/* infomind 20250728 */

.certify-wrap {
	display:flex;
	background:#efefef;
	margin-top:20px;
}

.certify-wrap div {
	position:relative;
	display:flex;
	flex-direction: column;
	padding:20px;
}

.certify-wrap div:first-of-type::after {
	content:"▶";
	position:absolute;
	right:0;
	top: 28px;px;
	transform: translateX(50%);
	font-size:24px;
	color:#0869A1;
}

.certify-wrap span.text-black {
	position:relative;
	font-size:20px;
	padding:10px 10px 10px 54px;
	margin:0 0 10px;
	background:#fff;
}

.certify-wrap span.text-black>strong {
	position:absolute;
	left:10px;
	top:10px;
	font-weight:900;
	font-size:18px;
	padding:6px;
	line-height:1;
	margin-right:10px;
	background:#0869A1;
	color:#fff;
}

.certify-wrap p {
	font-size:14px;
	text-align:center;
	margin-bottom:20px;
}


@media (max-width: 990px) {


.certify-wrap p {
	word-break: normal;
}
}


.certify-wrap a {
	line-height:42px;
	font-size:16px;
	border-bottom:3px solid rgba(0,0,0,.4);
}