
@font-face {
	font-family: 's-core_dream4_regular';
	src: url('pub/site/portal/css/font/scdream4.woff2') format('woff2'),
	url('pub/site/portal/css/font/scdream4.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 's-core_dream6_bold';
	src: url('pub/site/portal/css/font/scdream6.woff2') format('woff2'),
	url('pub/site/portal/css/font/scdream6.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}







$myfont: 's-core_dream4_regular';



