@charset "UTF-8";
/**/
/*  S:공용 */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../font/NotoSansKR-Thin.woff2") format("woff2"), url("../font/NotoSansKR-Thin.woff") format("woff"), url("../font/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSansKR-Light.woff2") format("woff2"), url("../font/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular.woff2") format("woff2"), url("../font/NotoSansKR-Regular.woff2") format("woff"), url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSansKR-Medium.woff2") format("woff2"), url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSansKR-Bold.woff2") format("woff2"), url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../font/NotoSansKR-Black.woff2") format("woff2"), url("../font/NotoSansKR-Black.woff") format("woff"), url("../font/NotoSansKR-Black.otf") format("opentype");
}
a:hover, a:focus {
  text-decoration: none;
}

html,
body {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

body:has(section.main div.util) {
  background: #f0f0f0;
}

input {
  -webkit-border-radius: 0;
}
input:focus {
  outline: none;
}

i span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*  E:공용 */
/**/
/*  S:레이아웃 */
header {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  right: 0;
}
header div.container-fluid {
  position: relative;
  height: 55px;
  background: #FFF;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
header div.container-fluid h1 {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  width: 122px;
  height: 48px;
  background: url(../images/logo.svg) no-repeat center/100% auto;
}
header div.container-fluid h1 a {
  height: 100%;
}
header div.container-fluid div.head-util {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 12px;
}
header div.container-fluid div.head-util a,
header div.container-fluid div.head-util button {
  position: relative;
  text-align: center;
  font-size: 12px;
  border: none;
  background: none;
  color: #666;
  padding: 24px 0 0;
  width: 36px;
  height: 40px;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center top 2px;
}
header div.container-fluid div.head-util a.door,
header div.container-fluid div.head-util button.door {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M6.125 13.125C6.85417 13.125 7.47396 12.8698 7.98438 12.3594C8.49479 11.849 8.75 11.2292 8.75 10.5C8.75 9.77083 8.49479 9.15104 7.98438 8.64062C7.47396 8.13021 6.85417 7.875 6.125 7.875C5.39583 7.875 4.77604 8.13021 4.26562 8.64062C3.75521 9.15104 3.5 9.77083 3.5 10.5C3.5 11.2292 3.75521 11.849 4.26562 12.3594C4.77604 12.8698 5.39583 13.125 6.125 13.125ZM6.125 15.75C4.66667 15.75 3.42708 15.2396 2.40625 14.2188C1.38542 13.1979 0.875 11.9583 0.875 10.5C0.875 9.04167 1.38542 7.80208 2.40625 6.78125C3.42708 5.76042 4.66667 5.25 6.125 5.25C7.30625 5.25 8.33802 5.58542 9.22031 6.25625C10.1026 6.92708 10.7188 7.75833 11.0687 8.75H18.3969L20.125 10.4781L17.0625 13.9781L14.875 12.25L13.125 14L11.375 12.25H11.0687C10.7042 13.3 10.0698 14.1458 9.16562 14.7875C8.26146 15.4292 7.24792 15.75 6.125 15.75Z' fill='%23444444'/%3E%3C/svg%3E");
  background-size: 21px auto;
}
header div.container-fluid div.head-util a.idcard,
header div.container-fluid div.head-util button.idcard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18' fill='none'%3E%3Cpath d='M19.25 1.125H1.75C0.783854 1.125 0 1.88086 0 2.8125V15.1875C0 16.1191 0.783854 16.875 1.75 16.875H19.25C20.2161 16.875 21 16.1191 21 15.1875V2.8125C21 1.88086 20.2161 1.125 19.25 1.125ZM6.41667 4.5C7.70365 4.5 8.75 5.50898 8.75 6.75C8.75 7.99102 7.70365 9 6.41667 9C5.12969 9 4.08333 7.99102 4.08333 6.75C4.08333 5.50898 5.12969 4.5 6.41667 4.5ZM10.5 12.825C10.5 13.1977 10.1354 13.5 9.68333 13.5H3.15C2.69792 13.5 2.33333 13.1977 2.33333 12.825V12.15C2.33333 11.032 3.43073 10.125 4.78333 10.125H4.96562C5.41406 10.3043 5.9026 10.4062 6.41667 10.4062C6.93073 10.4062 7.42292 10.3043 7.86771 10.125H8.05C9.4026 10.125 10.5 11.032 10.5 12.15V12.825ZM18.6667 10.9688C18.6667 11.1234 18.5354 11.25 18.375 11.25H13.125C12.9646 11.25 12.8333 11.1234 12.8333 10.9688V10.4062C12.8333 10.2516 12.9646 10.125 13.125 10.125H18.375C18.5354 10.125 18.6667 10.2516 18.6667 10.4062V10.9688ZM18.6667 8.71875C18.6667 8.87344 18.5354 9 18.375 9H13.125C12.9646 9 12.8333 8.87344 12.8333 8.71875V8.15625C12.8333 8.00156 12.9646 7.875 13.125 7.875H18.375C18.5354 7.875 18.6667 8.00156 18.6667 8.15625V8.71875ZM18.6667 6.46875C18.6667 6.62344 18.5354 6.75 18.375 6.75H13.125C12.9646 6.75 12.8333 6.62344 12.8333 6.46875V5.90625C12.8333 5.75156 12.9646 5.625 13.125 5.625H18.375C18.5354 5.625 18.6667 5.75156 18.6667 5.90625V6.46875Z' fill='%23444444'/%3E%3C/svg%3E");
  background-size: 21px auto;
}
header div.container-fluid div.head-util a.notification,
header div.container-fluid div.head-util button.notification {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='17' viewBox='0 0 14 17' fill='none'%3E%3Cg clip-path='url(%23clip0_60_208)'%3E%3Cpath d='M7.26922 17C8.33052 17 9.19139 16.0487 9.19139 14.875H5.34705C5.34705 16.0487 6.20793 17 7.26922 17ZM13.7413 12.0292C13.1607 11.3399 12.0745 10.3029 12.0745 6.90625C12.0745 4.32637 10.4375 2.26113 8.23016 1.75445V1.0625C8.23016 0.475801 7.79987 0 7.26922 0C6.73857 0 6.30829 0.475801 6.30829 1.0625V1.75445C4.10096 2.26113 2.46395 4.32637 2.46395 6.90625C2.46395 10.3029 1.37771 11.3399 0.797186 12.0292C0.616898 12.2433 0.536971 12.4993 0.538473 12.75C0.541778 13.2945 0.928496 13.8125 1.50301 13.8125H13.0354C13.6099 13.8125 13.997 13.2945 14 12.75C14.0015 12.4993 13.9215 12.243 13.7413 12.0292Z' fill='%23444444'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_208'%3E%3Crect width='14' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: 14px auto;
}
header div.container-fluid div.head-util a.search,
header div.container-fluid div.head-util button.search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cg clip-path='url(%23clip0_60_210)'%3E%3Cpath d='M16.7676 14.699L13.4572 11.3887C13.3078 11.2393 13.1053 11.1562 12.8928 11.1562H12.3516C13.268 9.98418 13.8125 8.50996 13.8125 6.90625C13.8125 3.09121 10.7213 0 6.90625 0C3.09121 0 0 3.09121 0 6.90625C0 10.7213 3.09121 13.8125 6.90625 13.8125C8.50996 13.8125 9.98418 13.268 11.1563 12.3516V12.8928C11.1563 13.1053 11.2393 13.3078 11.3887 13.4572L14.699 16.7676C15.0111 17.0797 15.5158 17.0797 15.8246 16.7676L16.7643 15.8279C17.0764 15.5158 17.0764 15.0111 16.7676 14.699ZM6.90625 11.1562C4.55879 11.1562 2.65625 9.25703 2.65625 6.90625C2.65625 4.55879 4.55547 2.65625 6.90625 2.65625C9.25371 2.65625 11.1563 4.55547 11.1563 6.90625C11.1563 9.25371 9.25703 11.1562 6.90625 11.1562Z' fill='%23444444'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_210'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: 17px auto;
}
header div.container-fluid div.head-util a span,
header div.container-fluid div.head-util button span {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 9px;
  color: #fff;
  background: #007aff;
  line-height: 18px;
  padding: 0 5px;
  border-radius: 100px;
}
header div.search-form {
  display: none;
  align-items: center;
  justify-content: stretch;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-bottom: 1px solid #222;
  padding: 10px 20px;
}
header div.search-form.on {
  display: flex;
  gap: 10px;
}
header div.search-form button.btn-close {
  border: none;
  background: none;
  flex: 0 0 26px;
  font-size: 0;
  opacity: 1;
  padding: 0;
}
header div.search-form button.btn-close i {
  font-size: 16px;
  color: #222;
}
header div.search-form .focus {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}
header div.search-form label {
  flex: 0 0 70px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  white-space: nowrap;
}
header div.search-form input {
  background: #f2f2f2;
  border: 1px solid #dbdbdb;
  padding: 0 40px 0 10px;
  height: 36px;
  width: 100%;
}
header div.search-form input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
header div.search-form button.submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  font-size: 0;
  padding: 0 10px;
  height: 90%;
  border: 0;
  background-color: transparent;
}
header div.search-form button.submit i {
  font-size: 4vw;
  color: #007aff;
}

nav#allMenu {
  display: none;
  position: fixed;
  z-index: 900;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  padding-top: 55px;
  overflow-y: auto;
}
nav#allMenu.on {
  display: block;
}
nav#allMenu div.head {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0;
  height: 55px;
  background: url(../images/logo.svg) no-repeat left 10px center/122px auto;
}
nav#allMenu div.head div.util {
  text-align: right;
  padding: 12px 0 0;
}
nav#allMenu div.head div.util i {
  font-size: 18px;
  color: #666;
}
nav#allMenu div.head div.util button {
  display: inline-block;
  position: relative;
  width: 32px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
nav#allMenu div.head div.util a.logout {
  line-height: 32px;
  color: #666666;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #666;
  font-size: 14px;
  margin: 0 6px;
  padding: 5px 10px;
}
nav#allMenu div.head div.util div.language {
  display: none;
  position: absolute;
  top: 52px;
  right: 8px;
  border: 1px solid #dbdbdb;
  background: #fff;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px;
  min-width: 80px;
}
nav#allMenu div.head div.util div.language:before {
  content: "▼";
  display: block;
  position: absolute;
  left: 50%;
  top: -10px;
  font-size: 14px;
  transform: translateX(-50%);
  color: #666666;
}
nav#allMenu div.head div.util div.language.on {
  display: block;
}
nav#allMenu div.head div.util div.language a {
  display: block;
  text-align: left;
  color: #666;
  padding: 10px 0;
}
nav#allMenu div.head div.util div.language a:first-of-type {
  border-bottom: 1px solid #efefef;
}
nav#allMenu div.menu-box {
  position: relative;
  background: #007aff;
  min-height: 100%;
  word-break: break-word;
}
nav#allMenu div.menu-box > ul > li > h3 {
  width: 150px;
  margin: 0;
}
nav#allMenu div.menu-box > ul > li > h3 a {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 14px 10px;
  border-bottom: 1px solid #6094db;
}
nav#allMenu div.menu-box > ul > li > h3 a.active, nav#allMenu div.menu-box > ul > li > h3 a:hover {
  background: #ddf3ff;
  color: #2971d5;
}
nav#allMenu div.menu-box > ul > li > ul {
  display: none;
  position: absolute;
  left: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  padding: 10px 20px;
}
nav#allMenu div.menu-box > ul > li > ul.on {
  display: block;
}
nav#allMenu div.menu-box > ul > li > ul .active {
  text-decoration: underline;
}
nav#allMenu div.menu-box > ul > li > ul > li {
  border-bottom: 1px solid #dbdbdb;
}
nav#allMenu div.menu-box > ul > li > ul > li > a {
  position: relative;
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 10px;
}
nav#allMenu div.menu-box > ul > li > ul > li > a.has:before {
  content: "";
  display: block;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #dbdbdb;
}
nav#allMenu div.menu-box > ul > li > ul > li > a.has:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 1px;
  background: #dbdbdb;
}
nav#allMenu div.menu-box > ul > li > ul > li > a.active.has:before {
  display: none;
}
nav#allMenu div.menu-box > ul > li > ul > li > a.active.has:after {
  background: #007aff;
}
nav#allMenu div.menu-box > ul > li > ul > li ul {
  display: none;
  background: #f2f2f2;
  margin: 0 -20px;
  padding: 10px 20px;
}
nav#allMenu div.menu-box > ul > li > ul > li ul.on {
  display: block;
}
nav#allMenu div.menu-box > ul > li > ul > li ul li a {
  display: block;
  position: relative;
  font-size: 14px;
  color: #666666;
  padding: 5px 0 5px 20px;
}
nav#allMenu div.menu-box > ul > li > ul > li ul li a:before {
  content: "";
  display: block;
  position: absolute;
  background: #666666;
  width: 5px;
  height: 5px;
  left: 8px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

nav#dock {
  display: flex;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: #FFF;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
}
nav#dock a,
nav#dock button {
  position: relative;
  flex: 1 1 18%;
  border: none;
  text-align: center;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: #666666;
  background: #fff;
  word-break: keep-all;
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: center top 6px;
}
nav#dock a.home,
nav#dock button.home {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 3L23 11.25L21.8 12.85L20 11.5V21H4V11.5L2.2 12.85L1 11.25L12 3ZM18 19V10L12 5.5L6 10V19H18Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.back,
nav#dock button.back {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 20V11H6.8L8.4 12.6L7 14L3 10L7 6L8.4 7.4L6.8 9H15C15.55 9 16.0208 9.19583 16.4125 9.5875C16.8042 9.97917 17 10.45 17 11V20H15Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.back.disable,
nav#dock button.back.disable {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 20V11H6.8L8.4 12.6L7 14L3 10L7 6L8.4 7.4L6.8 9H15C15.55 9 16.0208 9.19583 16.4125 9.5875C16.8042 9.97917 17 10.45 17 11V20H15Z' fill='%23666666'/%3E%3C/svg%3E");
}
nav#dock a.back,
nav#dock button.back {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 20V11H6.8L8.4 12.6L7 14L3 10L7 6L8.4 7.4L6.8 9H15C15.55 9 16.0208 9.19583 16.4125 9.5875C16.8042 9.97917 17 10.45 17 11V20H15Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.library,
nav#dock button.library {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.5 22C6.53333 22 5.70833 21.6583 5.025 20.975C4.34167 20.2917 4 19.4667 4 18.5V5.5C4 4.53333 4.34167 3.70833 5.025 3.025C5.70833 2.34167 6.53333 2 7.5 2H20V17C19.5833 17 19.2292 17.1458 18.9375 17.4375C18.6458 17.7292 18.5 18.0833 18.5 18.5C18.5 18.9167 18.6458 19.2708 18.9375 19.5625C19.2292 19.8542 19.5833 20 20 20V22H7.5ZM6 15.325C6.23333 15.2083 6.475 15.125 6.725 15.075C6.975 15.025 7.23333 15 7.5 15H8V4H7.5C7.08333 4 6.72917 4.14583 6.4375 4.4375C6.14583 4.72917 6 5.08333 6 5.5V15.325ZM10 15H18V4H10V15ZM7.5 20H16.825C16.725 19.7667 16.6458 19.5292 16.5875 19.2875C16.5292 19.0458 16.5 18.7833 16.5 18.5C16.5 18.2333 16.525 17.975 16.575 17.725C16.625 17.475 16.7083 17.2333 16.825 17H7.5C7.06667 17 6.70833 17.1458 6.425 17.4375C6.14167 17.7292 6 18.0833 6 18.5C6 18.9333 6.14167 19.2917 6.425 19.575C6.70833 19.8583 7.06667 20 7.5 20Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.bbs,
nav#dock button.bbs {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8 17C8.28333 17 8.52083 16.9042 8.7125 16.7125C8.90417 16.5208 9 16.2833 9 16C9 15.7167 8.90417 15.4792 8.7125 15.2875C8.52083 15.0958 8.28333 15 8 15C7.71667 15 7.47917 15.0958 7.2875 15.2875C7.09583 15.4792 7 15.7167 7 16C7 16.2833 7.09583 16.5208 7.2875 16.7125C7.47917 16.9042 7.71667 17 8 17ZM8 13C8.28333 13 8.52083 12.9042 8.7125 12.7125C8.90417 12.5208 9 12.2833 9 12C9 11.7167 8.90417 11.4792 8.7125 11.2875C8.52083 11.0958 8.28333 11 8 11C7.71667 11 7.47917 11.0958 7.2875 11.2875C7.09583 11.4792 7 11.7167 7 12C7 12.2833 7.09583 12.5208 7.2875 12.7125C7.47917 12.9042 7.71667 13 8 13ZM8 9C8.28333 9 8.52083 8.90417 8.7125 8.7125C8.90417 8.52083 9 8.28333 9 8C9 7.71667 8.90417 7.47917 8.7125 7.2875C8.52083 7.09583 8.28333 7 8 7C7.71667 7 7.47917 7.09583 7.2875 7.2875C7.09583 7.47917 7 7.71667 7 8C7 8.28333 7.09583 8.52083 7.2875 8.7125C7.47917 8.90417 7.71667 9 8 9ZM11 17H17V15H11V17ZM11 13H17V11H11V13ZM11 9H17V7H11V9ZM5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.menu,
nav#dock button.menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3 18V16H21V18H3ZM3 13V11H21V13H3ZM3 8V6H21V8H3Z' fill='%23222222'/%3E%3C/svg%3E");
}
nav#dock a.disable,
nav#dock button.disable {
  position: relative;
}
nav#dock a.disable::after,
nav#dock button.disable::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
nav#dock a span,
nav#dock button span {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

div.dock-library {
  display: none;
  position: fixed;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  bottom: 66px;
  border: 1px solid #DBDBDB;
  background: #fff;
  border-radius: 10px;
  padding: 36px 10px 10px;
  font-weight: 300;
}
div.dock-library.on {
  display: block;
}
div.dock-library:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #dbdbdb;
}
div.dock-library:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
}
div.dock-library a {
  display: block;
  font-size: 14px;
  width: 104px;
  text-align: center;
  line-height: 32px;
  border-radius: 10px;
  color: #fff;
}
div.dock-library a.app {
  background: #007aff;
  margin-bottom: 5px;
}
div.dock-library a.web {
  background: #2B60B8;
}
div.dock-library button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  color: #666666;
  font-size: 14px;
}
div.dock-library button i {
  margin-right: 5px;
}

/*  E:레이아웃 */
/**/
/*  S:intro */
section.intro {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../images/s_bg.webp") no-repeat center/cover;
  min-height: 100vh;
}
section.intro h1 {
  position: absolute;
  left: 50%;
  top: 36vh;
  transform: translateX(-50%);
  font-size: 0;
  width: 96px;
  height: 115px;
  margin: 0;
  background: url("../images/s_logo.svg") no-repeat center/cover;
}
section.intro p.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
section.intro p.copyright span {
  display: block;
}

/*  E:intro */
/**/
/*  S:login */
section.login {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../images/s_bg.webp") no-repeat center/cover;
  min-height: 100vh;
  padding: 24px 0 0;
}
section.login h1 {
  display: block;
  margin: 0 auto 44px;
  font-size: 0;
  width: 96px;
  height: 115px;
  background: url("../images/s_logo.svg") no-repeat center/cover;
}
section.login p.attention {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin: 0 0 22px;
}
section.login div.login-box {
  background: #ffffff;
  padding: 36px 27px;
  text-align: center;
}
section.login div.login-box strong {
  display: block;
  font-size: 24px;
  font-family: "s-core_dream6_bold";
  color: #0099ff;
  margin: 0 0 28px;
}
section.login div.login-box p.input-form {
  margin: 0 17px 14px;
  border-bottom: 1px solid #00a7eb;
  display: flex;
}
section.login div.login-box p.input-form i {
  text-align: left;
  width: 30px;
  line-height: 38px;
  font-size: 16px;
  color: #0099ff;
  padding-left: 4px;
}
section.login div.login-box p.input-form input {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: none;
  height: 38px;
  outline: none;
}
section.login div.login-box p.input-form input::-moz-placeholder {
  color: #999999;
}
section.login div.login-box p.input-form input::placeholder {
  color: #999999;
}
section.login div.login-box button.login {
  width: 100%;
  height: 42px;
  margin: 16px 0 20px;
  border: none;
  border-radius: 5px;
  background: #014099;
  color: #fff;
  font-size: 14px;
}
section.login div.login-box div.links {
  text-align: center;
  font-size: 0;
}
section.login div.login-box div.links a {
  font-size: 14px;
  color: #666666;
}
section.login div.login-box div.links a:after {
  content: "|";
  padding: 0 10px;
  color: #ddd;
}
section.login div.login-box div.links a:last-of-type:after {
  display: none;
}
section.login p.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
section.login p.copyright span {
  display: block;
}

/*  E:login */
/**/
/*  S:main */
section.main {
  padding: 75px 0 70px;
}
section.main div.util {
  display: flex;
  padding: 20px 20px 10px;
  background: #007aff;
  gap: 10px;
  border-radius: 10px;
}
section.main div.util a {
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 1.2;
  word-break: keep-all;
  /*웹메일*/
  /*JNU CLASS*/
  /*당직정보*/
  /*교육현황*/
  /*급여*/
  /*수강신청*/
  /*수강정보*/
  /*시간표*/
  /*전자출결*/
  /*통합정보*/
  /*학생검색*/
  /*출석인정*/
}
section.main div.util a::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto 10px;
}
section.main div.util a.webmail::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 20C3.45 20 2.97917 19.8042 2.5875 19.4125C2.19583 19.0208 2 18.55 2 18V6C2 5.45 2.19583 4.97917 2.5875 4.5875C2.97917 4.19583 3.45 4 4 4H20C20.55 4 21.0208 4.19583 21.4125 4.5875C21.8042 4.97917 22 5.45 22 6V18C22 18.55 21.8042 19.0208 21.4125 19.4125C21.0208 19.8042 20.55 20 20 20H4ZM12 13L4 8V18H20V8L12 13ZM12 11L20 6H4L12 11ZM4 8V6V18V8Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.class::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0 20V18H2V3H22V18H24V20H0ZM10 18H14V17H10V18ZM4 15H20V5H4V15Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.duty::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 22C3.45 22 2.97917 21.8042 2.5875 21.4125C2.19583 21.0208 2 20.55 2 20V9C2 8.45 2.19583 7.97917 2.5875 7.5875C2.97917 7.19583 3.45 7 4 7H9V4C9 3.45 9.19583 2.97917 9.5875 2.5875C9.97917 2.19583 10.45 2 11 2H13C13.55 2 14.0208 2.19583 14.4125 2.5875C14.8042 2.97917 15 3.45 15 4V7H20C20.55 7 21.0208 7.19583 21.4125 7.5875C21.8042 7.97917 22 8.45 22 9V20C22 20.55 21.8042 21.0208 21.4125 21.4125C21.0208 21.8042 20.55 22 20 22H4ZM4 20H20V9H15C15 9.55 14.8042 10.0208 14.4125 10.4125C14.0208 10.8042 13.55 11 13 11H11C10.45 11 9.97917 10.8042 9.5875 10.4125C9.19583 10.0208 9 9.55 9 9H4V20ZM6 18H12V17.55C12 17.2667 11.9208 17.0042 11.7625 16.7625C11.6042 16.5208 11.3833 16.3333 11.1 16.2C10.7667 16.05 10.4292 15.9375 10.0875 15.8625C9.74583 15.7875 9.38333 15.75 9 15.75C8.61667 15.75 8.25417 15.7875 7.9125 15.8625C7.57083 15.9375 7.23333 16.05 6.9 16.2C6.61667 16.3333 6.39583 16.5208 6.2375 16.7625C6.07917 17.0042 6 17.2667 6 17.55V18ZM14 16.5H18V15H14V16.5ZM9 15C9.41667 15 9.77083 14.8542 10.0625 14.5625C10.3542 14.2708 10.5 13.9167 10.5 13.5C10.5 13.0833 10.3542 12.7292 10.0625 12.4375C9.77083 12.1458 9.41667 12 9 12C8.58333 12 8.22917 12.1458 7.9375 12.4375C7.64583 12.7292 7.5 13.0833 7.5 13.5C7.5 13.9167 7.64583 14.2708 7.9375 14.5625C8.22917 14.8542 8.58333 15 9 15ZM14 13.5H18V12H14V13.5ZM11 9H13V4H11V9Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.status::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11 17.05V7.2C10.3167 6.8 9.59167 6.5 8.825 6.3C8.05833 6.1 7.28333 6 6.5 6C5.9 6 5.30417 6.05833 4.7125 6.175C4.12083 6.29167 3.55 6.46667 3 6.7V16.6C3.58333 16.4 4.1625 16.25 4.7375 16.15C5.3125 16.05 5.9 16 6.5 16C7.28333 16 8.04583 16.0875 8.7875 16.2625C9.52917 16.4375 10.2667 16.7 11 17.05ZM12 20C11.2 19.3667 10.3333 18.875 9.4 18.525C8.46667 18.175 7.5 18 6.5 18C5.8 18 5.1125 18.0917 4.4375 18.275C3.7625 18.4583 3.11667 18.7167 2.5 19.05C2.15 19.2333 1.8125 19.225 1.4875 19.025C1.1625 18.825 1 18.5333 1 18.15V6.1C1 5.91667 1.04583 5.74167 1.1375 5.575C1.22917 5.40833 1.36667 5.28333 1.55 5.2C2.31667 4.8 3.11667 4.5 3.95 4.3C4.78333 4.1 5.63333 4 6.5 4C7.73333 4 8.78333 4.14167 9.65 4.425C10.5167 4.70833 11.45 5.14167 12.45 5.725C12.6333 5.825 12.7708 5.94167 12.8625 6.075C12.9542 6.20833 13 6.38333 13 6.6V17.05C13.7333 16.7 14.4708 16.4375 15.2125 16.2625C15.9542 16.0875 16.7167 16 17.5 16C18.1 16 18.6875 16.05 19.2625 16.15C19.8375 16.25 20.4167 16.4 21 16.6V4.575C21.25 4.65833 21.4958 4.75 21.7375 4.85C21.9792 4.95 22.2167 5.06667 22.45 5.2C22.6333 5.28333 22.7708 5.40833 22.8625 5.575C22.9542 5.74167 23 5.91667 23 6.1V18.15C23 18.5333 22.8375 18.825 22.5125 19.025C22.1875 19.225 21.85 19.2333 21.5 19.05C20.8833 18.7167 20.2375 18.4583 19.5625 18.275C18.8875 18.0917 18.2 18 17.5 18C16.5 18 15.5333 18.175 14.6 18.525C13.6667 18.875 12.8 19.3667 12 20ZM15.5 14V3L18.5 2V13L15.5 14Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.salary::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14 13C13.1667 13 12.4583 12.7083 11.875 12.125C11.2917 11.5417 11 10.8333 11 10C11 9.16667 11.2917 8.45833 11.875 7.875C12.4583 7.29167 13.1667 7 14 7C14.8333 7 15.5417 7.29167 16.125 7.875C16.7083 8.45833 17 9.16667 17 10C17 10.8333 16.7083 11.5417 16.125 12.125C15.5417 12.7083 14.8333 13 14 13ZM7 16C6.45 16 5.97917 15.8042 5.5875 15.4125C5.19583 15.0208 5 14.55 5 14V6C5 5.45 5.19583 4.97917 5.5875 4.5875C5.97917 4.19583 6.45 4 7 4H21C21.55 4 22.0208 4.19583 22.4125 4.5875C22.8042 4.97917 23 5.45 23 6V14C23 14.55 22.8042 15.0208 22.4125 15.4125C22.0208 15.8042 21.55 16 21 16H7ZM9 14H19C19 13.45 19.1958 12.9792 19.5875 12.5875C19.9792 12.1958 20.45 12 21 12V8C20.45 8 19.9792 7.80417 19.5875 7.4125C19.1958 7.02083 19 6.55 19 6H9C9 6.55 8.80417 7.02083 8.4125 7.4125C8.02083 7.80417 7.55 8 7 8V12C7.55 12 8.02083 12.1958 8.4125 12.5875C8.80417 12.9792 9 13.45 9 14ZM20 20H3C2.45 20 1.97917 19.8042 1.5875 19.4125C1.19583 19.0208 1 18.55 1 18V7H3V18H20V20Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.application::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8 13.75L9.975 11H14.225L8 6.1V13.75ZM13.775 22L10.15 14.2L6 20V2L20 13H12.9L16.5 20.725L13.775 22Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.info::before {
  position: relative;
  top: -4px;
  width: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3 20V18H15V20H3ZM16 13C14.6167 13 13.4375 12.5125 12.4625 11.5375C11.4875 10.5625 11 9.38333 11 8C11 6.61667 11.4875 5.4375 12.4625 4.4625C13.4375 3.4875 14.6167 3 16 3C17.3833 3 18.5625 3.4875 19.5375 4.4625C20.5125 5.4375 21 6.61667 21 8C21 9.38333 20.5125 10.5625 19.5375 11.5375C18.5625 12.5125 17.3833 13 16 13ZM3 12V10H9.3C9.41667 10.3667 9.55 10.7167 9.7 11.05C9.85 11.3833 10.0333 11.7 10.25 12H3ZM3 16V14H12.4C12.7833 14.2333 13.1917 14.4292 13.625 14.5875C14.0583 14.7458 14.5167 14.8583 15 14.925V16H3ZM15.5 11H16.5V7H15.5V11ZM16 6C16.1333 6 16.25 5.95 16.35 5.85C16.45 5.75 16.5 5.63333 16.5 5.5C16.5 5.36667 16.45 5.25 16.35 5.15C16.25 5.05 16.1333 5 16 5C15.8667 5 15.75 5.05 15.65 5.15C15.55 5.25 15.5 5.36667 15.5 5.5C15.5 5.63333 15.55 5.75 15.65 5.85C15.75 5.95 15.8667 6 16 6Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.time::before {
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM8 12H2V16H8V12ZM10 12V16H16V12H10ZM8 10V6H2V10H8ZM10 10H16V6H10V10ZM2 4H16V2H2V4Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.attendance::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='16' viewBox='0 0 23 16' fill='none'%3E%3Cpath d='M16.55 8L13 4.45L14.425 3.05L16.55 5.175L20.8 0.925L22.2 2.35L16.55 8ZM8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM0 16V13.2C0 12.6333 0.145833 12.1125 0.4375 11.6375C0.729167 11.1625 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64583 4.75 9.3875C5.81667 9.12917 6.9 9 8 9C9.1 9 10.1833 9.12917 11.25 9.3875C12.3167 9.64583 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2708 11.1625 15.5625 11.6375C15.8542 12.1125 16 12.6333 16 13.2V16H0ZM2 14H14V13.2C14 13.0167 13.9542 12.85 13.8625 12.7C13.7708 12.55 13.65 12.4333 13.5 12.35C12.6 11.9 11.6917 11.5625 10.775 11.3375C9.85833 11.1125 8.93333 11 8 11C7.06667 11 6.14167 11.1125 5.225 11.3375C4.30833 11.5625 3.4 11.9 2.5 12.35C2.35 12.4333 2.22917 12.55 2.1375 12.7C2.04583 12.85 2 13.0167 2 13.2V14ZM8 6C8.55 6 9.02083 5.80417 9.4125 5.4125C9.80417 5.02083 10 4.55 10 4C10 3.45 9.80417 2.97917 9.4125 2.5875C9.02083 2.19583 8.55 2 8 2C7.45 2 6.97917 2.19583 6.5875 2.5875C6.19583 2.97917 6 3.45 6 4C6 4.55 6.19583 5.02083 6.5875 5.4125C6.97917 5.80417 7.45 6 8 6Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.itegrated::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 18V6V10.7V10V18ZM10.7 20H4C3.45 20 2.97917 19.8042 2.5875 19.4125C2.19583 19.0208 2 18.55 2 18V6C2 5.45 2.19583 4.97917 2.5875 4.5875C2.97917 4.19583 3.45 4 4 4H10L12 6H20C20.55 6 21.0208 6.19583 21.4125 6.5875C21.8042 6.97917 22 7.45 22 8V12.125C21.7167 11.825 21.4083 11.5583 21.075 11.325C20.7417 11.0917 20.3833 10.8833 20 10.7V8H11.175L9.175 6H4V18H10.075C10.125 18.35 10.2042 18.6917 10.3125 19.025C10.4208 19.3583 10.55 19.6833 10.7 20ZM17 12C18.3833 12 19.5625 12.4875 20.5375 13.4625C21.5125 14.4375 22 15.6167 22 17C22 18.3833 21.5125 19.5625 20.5375 20.5375C19.5625 21.5125 18.3833 22 17 22C15.6167 22 14.4375 21.5125 13.4625 20.5375C12.4875 19.5625 12 18.3833 12 17C12 15.6167 12.4875 14.4375 13.4625 13.4625C14.4375 12.4875 15.6167 12 17 12ZM16.5 20H17.5V16H16.5V20ZM17 15C17.1333 15 17.25 14.95 17.35 14.85C17.45 14.75 17.5 14.6333 17.5 14.5C17.5 14.3667 17.45 14.25 17.35 14.15C17.25 14.05 17.1333 14 17 14C16.8667 14 16.75 14.05 16.65 14.15C16.55 14.25 16.5 14.3667 16.5 14.5C16.5 14.6333 16.55 14.75 16.65 14.85C16.75 14.95 16.8667 15 17 15Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.ssearch::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 18C11.0667 18 10.175 18.1458 9.325 18.4375C8.475 18.7292 7.7 19.1667 7 19.75V20H17V19.75C16.3 19.1667 15.525 18.7292 14.675 18.4375C13.825 18.1458 12.9333 18 12 18ZM12 16C13.15 16 14.225 16.175 15.225 16.525C16.225 16.875 17.15 17.3667 18 18V4H6V18C6.85 17.3667 7.775 16.875 8.775 16.525C9.775 16.175 10.85 16 12 16ZM12 12C11.5833 12 11.2292 11.8542 10.9375 11.5625C10.6458 11.2708 10.5 10.9167 10.5 10.5C10.5 10.0833 10.6458 9.72917 10.9375 9.4375C11.2292 9.14583 11.5833 9 12 9C12.4167 9 12.7708 9.14583 13.0625 9.4375C13.3542 9.72917 13.5 10.0833 13.5 10.5C13.5 10.9167 13.3542 11.2708 13.0625 11.5625C12.7708 11.8542 12.4167 12 12 12ZM6 22C5.45 22 4.97917 21.8042 4.5875 21.4125C4.19583 21.0208 4 20.55 4 20V4C4 3.45 4.19583 2.97917 4.5875 2.5875C4.97917 2.19583 5.45 2 6 2H18C18.55 2 19.0208 2.19583 19.4125 2.5875C19.8042 2.97917 20 3.45 20 4V20C20 20.55 19.8042 21.0208 19.4125 21.4125C19.0208 21.8042 18.55 22 18 22H6ZM12 14C12.9667 14 13.7917 13.6583 14.475 12.975C15.1583 12.2917 15.5 11.4667 15.5 10.5C15.5 9.53333 15.1583 8.70833 14.475 8.025C13.7917 7.34167 12.9667 7 12 7C11.0333 7 10.2083 7.34167 9.525 8.025C8.84167 8.70833 8.5 9.53333 8.5 10.5C8.5 11.4667 8.84167 12.2917 9.525 12.975C10.2083 13.6583 11.0333 14 12 14Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a.recognition::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M17.55 12L14 8.45L15.425 7.05L17.55 9.175L21.8 4.925L23.2 6.35L17.55 12ZM9 12C7.9 12 6.95833 11.6083 6.175 10.825C5.39167 10.0417 5 9.1 5 8C5 6.9 5.39167 5.95833 6.175 5.175C6.95833 4.39167 7.9 4 9 4C10.1 4 11.0417 4.39167 11.825 5.175C12.6083 5.95833 13 6.9 13 8C13 9.1 12.6083 10.0417 11.825 10.825C11.0417 11.6083 10.1 12 9 12ZM1 20V17.2C1 16.6333 1.14583 16.1125 1.4375 15.6375C1.72917 15.1625 2.11667 14.8 2.6 14.55C3.63333 14.0333 4.68333 13.6458 5.75 13.3875C6.81667 13.1292 7.9 13 9 13C10.1 13 11.1833 13.1292 12.25 13.3875C13.3167 13.6458 14.3667 14.0333 15.4 14.55C15.8833 14.8 16.2708 15.1625 16.5625 15.6375C16.8542 16.1125 17 16.6333 17 17.2V20H1ZM3 18H15V17.2C15 17.0167 14.9542 16.85 14.8625 16.7C14.7708 16.55 14.65 16.4333 14.5 16.35C13.6 15.9 12.6917 15.5625 11.775 15.3375C10.8583 15.1125 9.93333 15 9 15C8.06667 15 7.14167 15.1125 6.225 15.3375C5.30833 15.5625 4.4 15.9 3.5 16.35C3.35 16.4333 3.22917 16.55 3.1375 16.7C3.04583 16.85 3 17.0167 3 17.2V18ZM9 10C9.55 10 10.0208 9.80417 10.4125 9.4125C10.8042 9.02083 11 8.55 11 8C11 7.45 10.8042 6.97917 10.4125 6.5875C10.0208 6.19583 9.55 6 9 6C8.45 6 7.97917 6.19583 7.5875 6.5875C7.19583 6.97917 7 7.45 7 8C7 8.55 7.19583 9.02083 7.5875 9.4125C7.97917 9.80417 8.45 10 9 10Z' fill='white'/%3E%3C/svg%3E");
}
section.main div.util a u {
  display: block;
  text-decoration: none;
}
section.main div.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  word-break: keep-all;
}
section.main div.links a {
  position: relative;
  flex: 0 0 calc((100% - 30px) / 4);
  font-size: 13px;
  color: #222;
  border-radius: 10px;
  line-height: 1.4;
  border: 1px solid #CCC;
  background-color: #FFF;
  aspect-ratio: 1;
  background-size: 28px auto;
  background-position: center top 20%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  section.main div.links a {
    background-size: 38px auto;
    flex: 0 0 calc((100% - 50px) / 6);
  }
}
section.main div.links a span {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 28px;
}
@media (min-width: 768px) {
  section.main div.links a span {
    top: 55%;
  }
}
section.main div.links a span u {
  flex: 0 0 100%;
  text-decoration: none;
}
section.main div.bbs {
  position: relative;
  padding: 20px 20px 6px;
  background: #fff;
  border-radius: 10px;
}
section.main div.bbs div.tabs {
  display: flex;
  margin: 0 0 20px;
  padding: 0 80px 0 0;
  gap: 20px;
  overflow-x: auto;
}
section.main div.bbs div.tabs::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 42px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 40%);
}
section.main div.bbs div.tabs button {
  font-size: 16px;
  color: #666;
  border: none;
  background: none;
  padding: 0 0 6px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  word-break: keep-all;
  white-space: nowrap;
}
section.main div.bbs div.tabs button.active {
  color: #007aff;
  border-color: #007aff;
  font-weight: 700;
}
section.main div.bbs div.tab-data {
  display: none;
}
section.main div.bbs div.tab-data.active {
  display: block;
}
section.main div.bbs div.tab-data ul li {
  margin: 0 0 14px;
}
section.main div.bbs div.tab-data ul li a {
  display: block;
  font-size: 14px;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}
section.main div.bbs div.tab-data ul li i {
  display: block;
  font-size: 14px;
  color: #777;
  font-style: normal;
  font-weight: 200;
}
section.main div.bbs div.tab-data a.more {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.16663 10.8333H4.16663V9.16666H9.16663V4.16666H10.8333V9.16666H15.8333V10.8333H10.8333V15.8333H9.16663V10.8333Z' fill='%23222222'/%3E%3C/svg%3E") no-repeat center/20px auto;
}
section.main div.bbs div.tab-data a.more.refresh {
  right: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M3.33337 16.6667V15H5.62504L5.29171 14.7083C4.56949 14.0695 4.06254 13.3403 3.77087 12.5208C3.47921 11.7014 3.33337 10.875 3.33337 10.0417C3.33337 8.50001 3.79518 7.12848 4.71879 5.92709C5.6424 4.7257 6.84726 3.93057 8.33337 3.54168V5.29168C7.33337 5.65279 6.52782 6.26737 5.91671 7.13543C5.3056 8.00348 5.00004 8.97223 5.00004 10.0417C5.00004 10.6667 5.1181 11.2743 5.35421 11.8646C5.59032 12.4549 5.95837 13 6.45837 13.5L6.66671 13.7083V11.6667H8.33337V16.6667H3.33337ZM11.6667 16.4583V14.7083C12.6667 14.3472 13.4723 13.7326 14.0834 12.8646C14.6945 11.9965 15 11.0278 15 9.95834C15 9.33334 14.882 8.7257 14.6459 8.13543C14.4098 7.54515 14.0417 7.00001 13.5417 6.50001L13.3334 6.29168V8.33334H11.6667V3.33334H16.6667V5.00001H14.375L14.7084 5.29168C15.3889 5.97223 15.8855 6.71182 16.198 7.51043C16.5105 8.30904 16.6667 9.12501 16.6667 9.95834C16.6667 11.5 16.2049 12.8715 15.2813 14.0729C14.3577 15.2743 13.1528 16.0695 11.6667 16.4583Z' fill='%23222222'/%3E%3C/svg%3E");
}

/*  E:main */
/**/
/*  S:sub-content */
section.sub-content,
div.sub-index {
  position: relative;
  z-index: 1;
  padding: 85px 0 70px;
}
section.sub-content ul.navigation,
div.sub-index ul.navigation {
  font-size: 0;
  text-align: right;
  margin: 14px 0 30px;
}
section.sub-content ul.navigation li,
div.sub-index ul.navigation li {
  display: inline-block;
}
section.sub-content ul.navigation li a,
div.sub-index ul.navigation li a {
  font-size: 12px;
  color: #999999;
}
section.sub-content ul.navigation li a i,
div.sub-index ul.navigation li a i {
  color: #cccccc;
  padding: 0 6px;
}
section.sub-content ul.navigation li a.home,
div.sub-index ul.navigation li a.home {
  font-size: 0;
}
section.sub-content ul.navigation li a.home i,
div.sub-index ul.navigation li a.home i {
  font-size: 12px;
}
section.sub-content ul.navigation li a.home i.fa-house,
div.sub-index ul.navigation li a.home i.fa-house {
  padding: 0;
  color: #666;
}
section.sub-content ul.navigation li:last-child a,
div.sub-index ul.navigation li:last-child a {
  color: #0571af;
}
section.sub-content h2.stitle,
div.sub-index h2.stitle {
  position: relative;
  font-size: 20px;
  font-family: "s-core_dream6_bold";
  color: #333333;
  border-bottom: 1px solid #ddd;
  padding: 0 0 12px;
  margin: 0 0 24px;
}
section.sub-content h2.stitle button.share,
div.sub-index h2.stitle button.share {
  position: absolute;
  right: 0;
  top: -4px;
  width: 33px;
  height: 33px;
  border: 1px solid #eaeaea;
  background: none;
  font-size: 0;
  border-radius: 50%;
}
section.sub-content h2.stitle button.share i,
div.sub-index h2.stitle button.share i {
  font-size: 16px;
  color: #878787;
}

.sub-index.subtop-none {
  padding: 15px 15px 90px;
}

.sboard-btn {
  position: relative;
  top: -72px;
  text-align: right;
}
.sboard-btn a {
  color: #fff;
  display: inline-block;
  width: 95px;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #666;
  text-align: center;
}
.sboard-btn a i {
  font-size: 18px;
}

.sboard {
  position: relative;
  margin: 0 0 14px;
  border-bottom: 1px solid #dbdbdb;
}
.sboard h3 {
  font-family: "s-core_dream6_bold";
  font-size: 18px;
  color: #0571af;
}
.sboard ul.gallery {
  display: flex;
}
.sboard ul.gallery li {
  flex: 1 1 40%;
}
.sboard ul.gallery li:first-child {
  margin-right: 10px;
}
.sboard ul.gallery li a {
  display: block;
}
.sboard ul.gallery li .image {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  margin: 0 0 7px;
  font-size: 0;
  border: 1px solid #dbdbdb;
}
.sboard ul.gallery li strong {
  display: block;
  font-size: 14px;
  color: #333333;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sboard ul.gallery li i {
  display: block;
  padding: 10px 0 0;
  font-size: 14px;
  color: #666666;
  font-style: normal;
}
.sboard ul.list li {
  font-size: 0;
  line-height: 30px;
}
.sboard ul.list li a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #666666;
  width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sboard ul.list li i {
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 0;
  font-size: 12px;
  color: #69a4d1;
  font-style: normal;
  text-align: right;
  width: 50px;
}
.sboard a.more {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  text-align: center;
  line-height: 1;
}
.sboard a.more span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 18px;
  color: #999999;
}

/*  E:sub-content */
/**/
/*  S:모바일신분증 */
.modal.id-card .modal-content {
  border: 0;
}
.modal.id-card .modal-header {
  background-color: #007aff;
}
.modal.id-card .modal-header .modal-title {
  margin: 0 auto;
  color: #fff;
}
.modal.id-card .modal-header .close {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  font-size: 18px;
  opacity: 1;
  border-radius: 100%;
}
.modal.id-card .modal-body {
  padding: 10px 10px 30px;
}
.modal.id-card .modal-body .id-card-content {
  padding: 0 10px 50px;
  background: url(../images/mob_logo.svg) no-repeat center bottom/auto 40px;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 170px;
  height: 170px;
  border: 4px solid #007aff;
  border-radius: 50%;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline #time-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 180px;
  background: transparent;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline p.qr {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 95px;
  height: 95px;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline p.qr img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline p.repeat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 95px;
  height: 95px;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline p.repeat a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  color: #999;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline p.repeat a i {
  color: #666;
  font-size: 22px;
  margin-bottom: 5px;
}
.modal.id-card .modal-body .id-card-content div.canvas-outline #time-display {
  font-size: 16px;
  margin-top: 10px;
  color: #3366cc;
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  text-align: center;
}
.modal.id-card .modal-body .id-card-content div.profile {
  position: relative;
  margin: 10px 0;
  padding: 15px 0 10px 90px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.modal.id-card .modal-body .id-card-content div.profile p.photo {
  position: absolute;
  left: 0;
  top: 20px;
  width: 71px;
  height: 86px;
  border-radius: 10px;
  background: url(../images/user_photo.webp) no-repeat;
  background-size: cover;
}
.modal.id-card .modal-body .id-card-content div.profile p.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.modal.id-card .modal-body .id-card-content div.profile dl {
  margin: 0;
  padding: 0;
}
.modal.id-card .modal-body .id-card-content div.profile dl dt {
  float: left;
  width: 55px;
  font-size: 12px;
  color: #38a0dc;
}
.modal.id-card .modal-body .id-card-content div.profile dl dd {
  margin: 0 0 5px 55px;
  font-size: 13px;
  color: #333333;
}
.modal.id-card .modal-body .id-card-content div.profile dl dd strong {
  font-size: 16px;
  font-family: "s-core_dream6_bold";
}
.modal.id-card .modal-body .id-card-content p.attention {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin: 0;
}
.modal.id-card .modal-body .id-card-content p.attention span {
  display: block;
}
.modal.id-card .modal-body .tag-content {
  padding: 0 10px 10px;
}
.modal.id-card .modal-body .tag-content div.canvas-outline {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
.modal.id-card .modal-body .tag-content div.canvas-outline:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 170px;
  height: 170px;
  border: 4px solid #007aff;
  border-radius: 50%;
}
.modal.id-card .modal-body .tag-content div.canvas-outline #time-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 180px;
  background: transparent;
}
.modal.id-card .modal-body .tag-content div.canvas-outline p.tag {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: 108px;
  height: 108px;
}
.modal.id-card .modal-body .tag-content div.canvas-outline p.tag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal.id-card .modal-body .tag-content div.canvas-outline #time-display {
  font-size: 16px;
  margin-top: 10px;
  color: #3366cc;
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  text-align: center;
}
.modal.id-card .modal-body .tag-content p.attention {
  font-size: 16px;
  color: #222;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}
.modal.id-card .modal-body .tag-content p.attention span {
  display: block;
}
.modal.id-card .modal-body .tag-content p.attention strong {
  font-weight: 700px;
  color: #007aff;
}
.modal.id-card .modal-body .tag-content a.how {
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #666;
  width: 232px;
  line-height: 42px;
  margin: 0 auto;
}

/*  E:모바일신분증 */
#userPortlet131 .meal-box {
  height: 200px !important;
}

#userPortlet138 .bus .bus-box {
  height: 450px !important;
}

.portlet-modal .modal-content {
  min-height: 350px;
}/*# sourceMappingURL=layout.css.map */